.container{
    margin: auto;
    width: 800px;
}
.img{
    margin-left: 0;
    position: relative;
    z-index: 1;
}
.taeil{
    width: 95px;
    height: 120px;
    margin-left:15px ;
    margin-top: -780px;
    position: relative;
    z-index: 2;

}
.chenle{
    width: 95px;
    height: 120px;
    margin-left:165px ;
    margin-top: 470px;
    position: relative;
    z-index: 2;

}
.jaemin{
    width: 95px;
    height: 120px;
    margin-left:540px ;
    margin-top: -280px;
    position: relative;
    z-index: 2;

}
.jaeminlink{
    width: 40px;
    background-color: white;
    margin-left:609px ;
    margin-top:-10px ;
    font: small-caps 10px serif;
    position: relative;
    z-index: 2;
    

}
.taeillink{
    width: 40px;
    background-color: white;
    margin-left: 85px ;
    margin-top:-455px ;
    font: small-caps 10px serif;
    position: relative;
    z-index: 2;
    

}