body{
    background-color:rgb(69, 69, 69);
}
.container{
    margin: auto;
    width: 1200px;
}
.topbar{
    background-color: greenyellow;
    height: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nct{
    margin: 0px 0px 0px 130px;
    padding-top: 1px;
}
.nct127
{
    margin-top: -48px;
    margin-left: 220px;
}
.nctd
{
    margin-top: -48px;
    margin-left: 350px;
}
.wayv
{
    margin-top: -48px;
    margin-left: 520px;
}
.album
{
    margin-top: -48px;
    margin-left: 620px;
}
.repack
{
    margin-top: -48px;
    margin-left: 750px;
}
.singles
{
    margin-top: -48px;
    margin-left: 900px;
}
.fave{
    margin-top: -205px;
    margin-left: 200px;

}
.stick{
    margin-top: -203px;
    margin-left: 400px;

}
.ll{
    margin-top: -204px;
    margin-left: 600px;

}
.pmn{
    margin-top: -204px;
    margin-left: 800px;

}
.hf{
    margin-top: -204px;
    margin-left: 1000px;

}
.btu{
    margin-top: -5px;

}
.hs{
    margin-top: -205px;
    margin-left: 200px;

}
.kickback{
    margin-top: -203px;
    margin-left: 400px;

}
.loveholic{
    margin-top: -204px;
    margin-left: 600px;

}
.rp1{
    margin-top: -204px;
    margin-left: 800px;

}
.rp2{
    margin-top: -204px;
    margin-left: 1000px;

}
.awakenw{
    margin-top: -5px;

}
.dreamshow{
    margin-top: -205px;
    margin-left: 200px;

}
.reload{
    margin-top: -203px;
    margin-left: 400px;

}
.punch{
    margin-top: -204px;
    margin-left: 600px;

}
.neozone{
    margin-top: -204px;
    margin-left: 800px;

}
.takeotm{
    margin-top: -204px;
    margin-left: 1000px;

}


.theorigin{
    margin-top: -5px;

}
.boom{
    margin-top: -205px;
    margin-left: 200px;

}
.hth{
    margin-top: -203px;
    margin-left: 400px;

}
.fireflies{
    margin-top: -204px;
    margin-left: 600px;

}
.superh{
    margin-top: -204px;
    margin-left: 800px;

}
.takeoff{
    margin-top: -204px;
    margin-left: 1000px;

}