.text1{
    margin: 200px;



}
.text2{
    margin: 400px;


}
.text3{
    margin: 20px;


}
.text4{
    margin: 80px;


}
.text5{
    margin: 900px;
   

}
.text6{
    margin: 40px;


}
.text7{
    margin: 180px;


}
.text8{
    padding: 30px;
    margin: 500px ;
}
.text9{
    margin: auto;


}
.text10{
    margin: 180px;


}
.text11{
    margin: 260px;
    

}
.text12{
    margin: 500px;


}
.text17{
    margin: 50px;
;

}
.text18{
    margin: 300px;


}
.text19{
    margin: 50px;


}
.text20{
    margin: 220px;


}

.text21{
    margin: 420px;

}
.text22{
    margin: auto;

}
.text23{
    margin: 270px;

}
.text24{
    margin: 50px;

}
.text25{
    margin: 20px;


}
.text26{
    margin: auto;


}
.text27{
    margin: 500px;


}
.text28{
    margin-left: 800px;

}
.iwant{
    margin-top: 800px;
    margin-left:300px;
    margin-bottom: 400px;
}

